.header{
    margin-top: 60px;
}

.headertitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'lora',serif;
    color: #444;

}
.headertitlesm{
position: absolute;
font-size: 20px;
top: 18%;
}
.headrertitlelrg{
position: absolute;
font-size: 100px;
top: 20%;
}
.headerImage{
    width: 100%;
    margin-top: 80px;
    height: 450px;
    object-fit: cover;

}
